<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <session-config>
    <session-timeout>50</session-timeout>
  </session-config>
  <display-name>pfe</display-name>
 

  <welcome-file-list>
    <welcome-file>accueil.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProjetServlet</display-name>
    <servlet-name>ProjetServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.ProjetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjetServlet</servlet-name>
    <url-pattern>/ProjetServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>

 
 
  
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.gcollecte.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProjet</display-name>
    <servlet-name>DeleteProjet</servlet-name>
    <servlet-class>com.gcollecte.controller.DeleteProjet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProjet</servlet-name>
    <url-pattern>/DeleteProjet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModProjetServlet</display-name>
    <servlet-name>ModProjetServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.ModProjetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModProjetServlet</servlet-name>
    <url-pattern>/ModProjetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCollecte</display-name>
    <servlet-name>DeleteCollecte</servlet-name>
    <servlet-class>com.gcollecte.controller.DeleteCollecte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCollecte</servlet-name>
    <url-pattern>/DeleteCollecte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModCollecteServlet</display-name>
    <servlet-name>ModCollecteServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.ModCollecteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModCollecteServlet</servlet-name>
    <url-pattern>/ModCollecteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModPlanServelt</display-name>
    <servlet-name>ModPlanServelt</servlet-name>
    <servlet-class>com.gcollecte.controller.ModPlanServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModPlanServelt</servlet-name>
    <url-pattern>/ModPlanServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModUserServlet</display-name>
    <servlet-name>ModUserServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.ModUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModUserServlet</servlet-name>
    <url-pattern>/ModUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.gcollecte.controller.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet2</display-name>
    <servlet-name>LoginServlet2</servlet-name>
    <servlet-class>com.gcollecte.controller.LoginServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet2</servlet-name>
    <url-pattern>/LoginServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCompagne</display-name>
    <servlet-name>DeleteCompagne</servlet-name>
    <servlet-class>com.gcollecte.controller.DeleteCompagne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCompagne</servlet-name>
    <url-pattern>/DeleteCompagne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModCompagneServlet</display-name>
    <servlet-name>ModCompagneServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.ModCompagneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModCompagneServlet</servlet-name>
    <url-pattern>/ModCompagneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompagneServlet</display-name>
    <servlet-name>CompagneServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.CompagneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompagneServlet</servlet-name>
    <url-pattern>/CompagneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermisServlet</display-name>
    <servlet-name>PermisServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.PermisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermisServlet</servlet-name>
    <url-pattern>/PermisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModPermisServlet</display-name>
    <servlet-name>ModPermisServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.ModPermisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModPermisServlet</servlet-name>
    <url-pattern>/ModPermisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePermis</display-name>
    <servlet-name>DeletePermis</servlet-name>
    <servlet-class>com.gcollecte.controller.DeletePermis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePermis</servlet-name>
    <url-pattern>/DeletePermis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EchelleServlet</display-name>
    <servlet-name>EchelleServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.EchelleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EchelleServlet</servlet-name>
    <url-pattern>/EchelleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEchelle</display-name>
    <servlet-name>DeleteEchelle</servlet-name>
    <servlet-class>com.gcollecte.controller.DeleteEchelle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEchelle</servlet-name>
    <url-pattern>/DeleteEchelle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModEchelleServlet</display-name>
    <servlet-name>ModEchelleServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.ModEchelleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModEchelleServlet</servlet-name>
    <url-pattern>/ModEchelleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
 
 
  <servlet>
    <description></description>
    <display-name>ModImageServlet</display-name>
    <servlet-name>ModImageServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.ModImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModImageServlet</servlet-name>
    <url-pattern>/ModImageServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>DeleteImage</display-name>
    <servlet-name>DeleteImage</servlet-name>
    <servlet-class>com.gcollecte.controller.DeleteImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteImage</servlet-name>
    <url-pattern>/DeleteImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CordonneesServlet</display-name>
    <servlet-name>CordonneesServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.CordonneesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CordonneesServlet</servlet-name>
    <url-pattern>/CordonneesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModCordonneesServlet</display-name>
    <servlet-name>ModCordonneesServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.ModCordonneesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModCordonneesServlet</servlet-name>
    <url-pattern>/ModCordonneesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCordonnees</display-name>
    <servlet-name>DeleteCordonnees</servlet-name>
    <servlet-class>com.gcollecte.controller.DeleteCordonnees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCordonnees</servlet-name>
    <url-pattern>/DeleteCordonnees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusServlet</display-name>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.StatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/StatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStatus</display-name>
    <servlet-name>DeleteStatus</servlet-name>
    <servlet-class>com.gcollecte.controller.DeleteStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStatus</servlet-name>
    <url-pattern>/DeleteStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModStatusServlet</display-name>
    <servlet-name>ModStatusServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.ModStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModStatusServlet</servlet-name>
    <url-pattern>/ModStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormarServlet</display-name>
    <servlet-name>FormarServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.FormarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormarServlet</servlet-name>
    <url-pattern>/FormarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModFormatServlet</display-name>
    <servlet-name>ModFormatServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.ModFormatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModFormatServlet</servlet-name>
    <url-pattern>/ModFormatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFormat</display-name>
    <servlet-name>DeleteFormat</servlet-name>
    <servlet-class>com.gcollecte.controller.DeleteFormat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFormat</servlet-name>
    <url-pattern>/DeleteFormat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormatServlet</display-name>
    <servlet-name>FormatServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.FormatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormatServlet</servlet-name>
    <url-pattern>/FormatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PuitsServlet</display-name>
    <servlet-name>PuitsServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.PuitsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PuitsServlet</servlet-name>
    <url-pattern>/PuitsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePuits</display-name>
    <servlet-name>DeletePuits</servlet-name>
    <servlet-class>com.gcollecte.controller.DeletePuits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePuits</servlet-name>
    <url-pattern>/DeletePuits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModPuitsServlet</display-name>
    <servlet-name>ModPuitsServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.ModPuitsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModPuitsServlet</servlet-name>
    <url-pattern>/ModPuitsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentServlet</display-name>
    <servlet-name>DocumentServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.DocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentServlet</servlet-name>
    <url-pattern>/DocumentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDocument</display-name>
    <servlet-name>DeleteDocument</servlet-name>
    <servlet-class>com.gcollecte.controller.DeleteDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDocument</servlet-name>
    <url-pattern>/DeleteDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModDocumentServlet</display-name>
    <servlet-name>ModDocumentServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.ModDocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModDocumentServlet</servlet-name>
    <url-pattern>/ModDocumentServlet</url-pattern>
  </servlet-mapping>
  


  <servlet>
    <description></description>
    <display-name>AFFServlet</display-name>
    <servlet-name>AFFServlet</servlet-name>
    <servlet-class>com.gcollecte.controller.AFFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AFFServlet</servlet-name>
    <url-pattern>/AFFServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>UploadFile</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.gcollecte.controller.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
</web-app>